@{
    ViewBag.Title = "Phantom";
}

<div class="jumbotron">
        <img src="~/Content/ElementColour_RGB-PNG.png" alt="Phantom" style="width:auto;height:80px;">
    <h1>Phantom Tool</h1>
    </div>
<div class="row">

    <div class="col-md-4">
        <h3>@Html.ActionLink("Unit Search", "Search")</h3>
        <h3>@Html.ActionLink("C&Rs List", "List")</h3>
        <h3>@Html.ActionLink("Suppliers Catalog", "List","Ssuppliers")</h3>      
    </div>
    <div class="col-md-4">
        <h3>@Html.ActionLink("C&Rs General Report", "General")</h3>
        <h3>@Html.ActionLink("C&Rs Closed Report", "CRsClosed", "CRs")</h3>  
        <h3>@Html.ActionLink("ECB2B", "B2B")</h3>
        </div>
        <div class="col-md-4">
        <h3>@Html.ActionLink("AP Access", "APlist")</h3>
        <h3>@Html.ActionLink("AP Maintenance Report", "ApMaintenance", "CRs")</h3> 
        <h3>@Html.ActionLink("AR Maintenance Report", "ArMaintenance", "CRs")</h3> 
        </div>
    </div>
