
@model PagedList.IPagedList<InventoryTool.Models.Remarketing>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Remarketing";
}
<br />
<h2>Remarketing</h2>
<br />
@using (Html.BeginForm("Index", "Remarketings", FormMethod.Get))
{
    <p>
        Find by Status: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string) 
        or Fleet: @Html.TextBox("fleetString", ViewBag.fleetFilter as string) 
        -Unit number: @Html.TextBox("unitString", ViewBag.UnitSortParm as string)
        or Log number: @Html.TextBox("logString", ViewBag.logFilter as string) 
        <input type="submit" value="Search" class="btn btn-info" />
        <h5>@Html.ActionLink("AP Remarketing Report", "ApRemarketing", "Remarketings")</h5> 

    </p>
}
<br />
@using (Html.BeginForm("ExportData", "Remarketings", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<table class="table">
    <tr>
        <th></th>
        <th>@Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSortParm, currentFilter = ViewBag.CurrentFilter })</th>
        <th>
            @Html.ActionLink("Fleet Number", "Index", new { sortOrder = ViewBag.FleetSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Unit Number", "Index", new { sortOrder = ViewBag.UnitSortParm, currentFilter = ViewBag.CurrentFilter })      
        </th>
        <th>
            @Html.ActionLink("Log Number", "Index", new { sortOrder = ViewBag.LogSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
        Roe
        </th>
        <th>
        Spot Rate
        </th>
        <th>
        Subcontract Number
        </th>
        <th>
        On-road Date
        </th>
        <th>
        End Date
        </th>
        <th>
        Term
        </th>
        <th>
        Offroad Date
        </th>
        <th>
        Current Period
        </th>
        <th>
        Amortization
        </th>
        <th>
        Interest
        </th>
        <th>
        Rent
        </th>
        <th>
       Remaining Months
        </th>
        <th>
        Rate
        </th>
        <th>
        Penalty
        </th>
        <th>
        Sale Value
        </th>
        <th>
        Sale Date
        </th>
        <th>
        Book Value
        </th>
        <th>
        Gain/Loss
        </th>
        <th>
        Profit Share Amount
        </th>
        <th>
        Profit Share Percentage
        </th>
        <th>
        Complementary Rent
        </th>
        <th>
        Credit Note
        </th>
        <th>
        P&L Gain/Loss
        </th>
        <th>
        Banck Account
        </th>
        <th>OutletCode</th>
        <th>OutletName</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{
                switch (item.Status)
                {
                    case "ACTIVE":
                        @Html.ActionLink("Quote", "QuoteEdit", new { id = item.ID })
                        break;
                    default:
                        <span></span>
                        break;
                }
            }
        </td>
        <td>
            @{
                switch (item.Status)
                {
                    case "ACTIVE":
                        @Html.ActionLink("ON-ROAD", "OffEdit", new { id = item.ID })
                        break;
                    case "INACTIVE":
                        @Html.ActionLink("OFF-ROAD", "SaleEdit", new { id = item.ID })
                        break;
                    default:
                        <span>Sold</span>
                        break;
                }
            }          
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FleetNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LogNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SpotRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ScontrNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OnroadDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Term)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OffroadDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPeriod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amortization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Interest)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemainingMonths)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Penalty)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SaleValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoldDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GainLoss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfitShareAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProfitSharePercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ComplementaryRent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditNote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PLGainLoss)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankAccount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutletCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Outletname)
        </td>
    </tr>
                }
<tr>
    <td>
        <input type="submit" name="Export" id="Export" value="Export" class="btn btn-success" />
    </td>
</tr>
</table>
}
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))