@model InventoryTool.Models.Remarketing

@{
    ViewBag.Title = "Remarketing";
}
<br /><br />
<h2>Set Off Road Date</h2>

<div>
<br />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(model => model.OffroadDate, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OffroadDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.OffroadDate, "", new { @class = "text-danger" })
            </div>
            <br />
        </div>
        <div class="form-actions no-color">
            <br />
            <input type="submit" value="Save" class="btn btn-primary" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
            @Html.HiddenFor(model => model.FleetNumber)
            @Html.HiddenFor(model => model.UnitNumber)
            @Html.HiddenFor(model => model.LogNumber)
            @Html.HiddenFor(model => model.Roe)
            @Html.HiddenFor(model => model.SpotRate)
            @Html.HiddenFor(model => model.ScontrNumber)
            @Html.HiddenFor(model => model.OnroadDate)
            @Html.HiddenFor(model => model.EndDate)
            @Html.HiddenFor(model => model.Term)
            @Html.HiddenFor(model => model.CurrentPeriod)
            @Html.HiddenFor(model => model.Amortization)
            @Html.HiddenFor(model => model.Interest)
            @Html.HiddenFor(model => model.Rent)
            @Html.HiddenFor(model => model.RemainingMonths)
            @Html.HiddenFor(model => model.Rate)
            @Html.HiddenFor(model => model.Penalty)
            @Html.HiddenFor(model => model.SaleValue)
            @Html.HiddenFor(model => model.BookValue)
            @Html.HiddenFor(model => model.GainLoss)
            @Html.HiddenFor(model => model.ProfitShareAmount)
            @Html.HiddenFor(model => model.ProfitSharePercentage)
            @Html.HiddenFor(model => model.ComplementaryRent)
            @Html.HiddenFor(model => model.CreditNote)
            @Html.HiddenFor(model => model.PLGainLoss)
            @Html.HiddenFor(model => model.BankAccount)
            @Html.HiddenFor(model => model.Status)
            @Html.HiddenFor(model => model.Quote)
    }
    <hr />
    <h4 style="color:royalblue"> Details: </h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FleetNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FleetNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LogNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpotRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpotRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScontrNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScontrNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnroadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnroadDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffroadDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffroadDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amortization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amortization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Interest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Interest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemainingMonths)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainingMonths)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Penalty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Penalty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SaleValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SaleValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GainLoss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GainLoss)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfitShareAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfitShareAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfitSharePercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfitSharePercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComplementaryRent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComplementaryRent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreditNote)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreditNote)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLGainLoss)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLGainLoss)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BankAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankAccount)
        </dd>

    </dl>

    
</div>
